* {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color:hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 20px;
}

.container, 
.container-img {
    border-radius: 5%;
    max-width: 375px;
}

.container-img {
    width: 100%;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.8em;
    padding-top:20px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 1.3em;
    padding: 15px;
}


